<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bank</title>
  </head>
  <body>
    <h1>BANK</h1>
    {% for customer in customers %}
    <p>
      Welcome {{ customer.user.first_name }} - <a href="{% url 'login_app:logout' %}">Log out</a>
    </p>
    <p> Your rank: {{ customer.rank }} </p>
     {% endfor %}
    {% block content %} {% endblock %}
    {% block footer %} {% endblock %}
  </body>
</html>
