<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bank</title>
  </head>
  <body>
    <h1>BANK</h1>
    {% for customer in customers %}
    <p>
      Welcome {{ customer.user.first_name }} - <a href="{% url 'login_app:logout' %}">Log out</a>
    </p>
    <p> Your rank: {{ customer.rank }} </p>
    <div class="loan__panel">
        {% if customer.rank == 'basic' %}
        <p>Sorry you can't take a loan yet</p>
        <p style="opacity: 0.5; cursor: not-allowed;">LOAN</p>
        {% else %}
        <p>Click here to take a loan</p>
        <a href="{% url 'bank_app:take_loan' customer_id=customer.pk  %}">LOAN</a>
        {% endif %}
    </div>
    {% endfor %}
    {% block content %} {% endblock %}
    {% block footer %} {% endblock %}
  </body>
</html>
