<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Employee</title>
  </head>
  <body>
    <h1>Employee</h1>
    <p>
      Welcome employee
    </p>
  <h2>All accounts:</h2>
  {% for account in accounts %}
  <ol>
    <li>
      type:
      <span
        >{{ account.account_type }}</span
      >
      name:<span>{{ account.name }}</span>
      username:<span>{{ account.user.username }}</span>
      balance:<span>{{ account.balance }}</span>
    </li>
    <hr />
  </ol>
  {% endfor %}
  <h2> All customers </h2>
  <ol>
  {% for customer in customers %}
  <li>
      username:<span>{{ customer.user.username }}</span>
      id:<span>{{ customer.user.id }}</span>
<form action="{% url 'bank_app:change_rank' customer_id=customer.pk  %}" method="POST">
                    {% csrf_token %}
                    <select name="rank" id="rank">
                        <option value="basic" {% if customer.rank == "basic" %}selected{% endif %}>Basic</option>
                         <option value="silver" {% if customer.rank == "silver" %}selected{% endif %}>Silver</option>
                         <option value="gold" {% if customer.rank == "gold" %}selected{% endif %}>Gold</option>
                         </select>
                         <button>Update</button>
                    <input type="hidden" name="id" value="{{ customer.user.id }}" />
                </form>
  </li>
  {% endfor %}
  </ol>
  <h2>Add a customer</h2>

<form action={% url 'bank_app:add_customer' %} method="POST">
    {% csrf_token %}
     <input type="text" name="first_name" placeholder="First Name">
     <input type="text" name="last_name" placeholder="Last Name">
     <input type="email" name="email" placeholder="Email Address">
     <input type="text" name="username" placeholder="Username">
     <input type="tel" name="phone" placeholder="Phone">
     <input type="password" name="password" placeholder="Password">
     <input type="password" name="confirm_password" placeholder="Confirm Password">
     <select name="rank" id="rank">
         <option value="basic">Basic</option>
         <option value="silver">Silver</option>
         <option value="gold">Gold</option>
         </select>
         <button>Add a customer</button>
</form>

<h2>Add account </h2>

<form action={% url 'bank_app:add_account_by_employee' %} method="POST">
    {% csrf_token %}

  <input type="text" name="user_id" placeholder="user id" />
  <input type="text" name="name" id="name" placeholder="account name"/>
  <input type="hidden" name="account_type" id="account_type" value="BANK_ACCOUNT"/>
  <button type="submit" style="display: block; margin-top: 20px">
    add account
  </button>
</form>

  </body>
</html>

