{% extends 'bank_app/base.html' %} {% block content %}
<h2> Your accounts </h2>
   <ul>
    {% for account in accounts %}

    <li>{{ account.name }}, {{ account.id }}: {{ account.balance }} dkk</li>
      <a href={% url 'bank_app:movements' account_id=account.id %}>see movements</a>

    {% endfor %}
   </ul>
{% if customer.rank != 'basic' %}
<h2> Your loans </h2>
    <ul>
       {% for account in loans %}

       <li>{{ account.name }}, {{ account.id }}: {{ account.balance }} dkk</li>

       {% endfor %}
    </ul>
{% endif %}
<a href={% url 'bank_app:add_account' %}>add account</a>
{% endblock %}
