{% extends 'bank_app/base.html' %} {% block content %}
<h2>Transfer funds</h2>
<form action={% url 'bank_app:transfers' account_id=currentAccount.pk %} method="POST">
    {% csrf_token %}
    <label for="fromAccount">from</label>
    <input type="text" name="fromAccount" id="fromAccount" placeholder="from" value={{ currentAccount.pk }}>
    <select name="toAccount" id="toAccount">
        {% for account in allAccounts %}
        <option value={{ account.pk }}> {{ account.pk }} - {{ account.type }}</option>
        {% endfor %}
    </select>
    <input type="number" name="amount" id="amount" placeholder="amount">
    <input name="text" id="text" placeholder="text">
    <button type="submit">transfer</button>
</form>
{% if error %}
      <p> {{ error }}</p>
{% endif %}
<a href={% url 'bank_app:index' %}>go back</a>


<script>
    // document.cookie = 'name=Transfer'
    // console.log(document.cookie);

    // name=Transfer; 
    // csrftoken=st1oqCQIRPed89lhDEd4HkLq4BPivWq48xr4N8mrlTPg8xcQkFv4IVDlyYycETbb

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');
    //const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    console.log(csrftoken);
    
    </script>
{% endblock %}
