{% load static %}
<html>
  <head>
    <title>Notifier</title>
    <script src="{% static '/channels/js/websocketbridge.js' %}" type="text/javascript"></script>
  </head>
  <body>
    <h1>Notifier</h1>
    <ul id="notifier"></ul>
    <script>
    document.addEventListener('DOMContentLoaded', function() {
      const webSocketBridge = new channels.WebSocketBridge();
      const nontifierList = document.querySelector("#notifier");
      var date = new Date();
      var stringDate = date.toTimeString();
      
      webSocketBridge.connect('/ws/notifier/');
      webSocketBridge.listen(function(action, stream) {
        console.log("RESPONSE:", action);

        if ( action.event == "New User" ) {
          var newUserItem = document.createElement("li");

          newUserItem.innerHTML = `New user: <b>${action.username}</b> has joined! at: ${stringDate}`;
          nontifierList.appendChild(newUserItem);
        }
      })
      document.ws = webSocketBridge; /* for debugging */
    })
    </script>
  </body>
</html>